#game {
  background-image: url('./cielo.jpg');
  background-size: cover;
}

.bird-pink {
  background-image: url('./aveAzul.png');
  background-size: cover;
}

.bird-blue {
  background-image: url('./aveAzul.png');
  background-size: cover;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.position {
  width: 100px;
  height: 100px;
 /* *  /* background-image: url('./casaPajaros.png'); */
  background-size: cover;/
}